body{
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url(nasa.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    margin:0;
    background-repeat: no-repeat
}
#ufo-table{
    background:rgba(20, 20, 20, 0.7);
}